@font-face {
  font-family: Roboto;
  src: url("../fonts/RobotoRegular.ttf")
    /* TTF file for CSS3 browsers  */
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf")
    /* TTF file for CSS3 browsers  */
}
@font-face {
  font-family: Lato2;
  src: url("../font2/Lato-Regular_2.ttf")
  /* TTF file for CSS3 browsers  */
}

body {
  font-size: 16px;
  font-family: Roboto, "Segoe UI", Arial, sans-serif;
}

.ui.modals.active {
  z-index: 999999999;
}

h1, h2, h3, h4, h5, h6, p, a, span, button, th, td, li, input, div {
  font-family: Lato2, "Segoe UI", Arial, sans-serif !important;
}

img {
  width: 100%;
}

.bg-transparent {
  background: transparent;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-100 {
  padding-left: 100px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-100 {
  margin-left: 100px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-center-important {
  text-align: center !important;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-white {
  color: #FFF;
}

.text-red {
  color: #B42E2E;
}

.text-grey {
  color: #979797;
}

.text-blue {
  color: #1D4994;
}

.text-12 {
  font-size: 12px;
  line-height: 20px;
}

.text-14 {
  font-size: 14px;
  line-height: 22px;
}

.text-15 {
  font-size: 14px;
  line-height: 20px;
}

.text-16 {
  font-size: 16px;
  line-height: 24px;
}

.text-18 {
  font-size: 18px;
  line-height: 26px;
}

.text-20 {
  font-size: 20px;
  line-height: 28px;
}

.text-22 {
  font-size: 22px;
  line-height: 30px;
}

.text-24 {
  font-size: 24px;
  line-height: 32px;
}

.text-26 {
  font-size: 26px;
  line-height: 36px;
}

.text-28 {
  font-size: 26px;
  line-height: 38px;
}

.text-30 {
  font-size: 30px;
  line-height: 42px;
}

.text-36 {
  font-size: 36px;
  line-height: 52px;
}

.text-40 {
  font-size: 40px;
  line-height: 58px;
}

.text-60 {
  font-size: 60px;
  line-height: 72px;
}

.text-justify {
  text-align: justify;
}

.text-shadow {
  text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
  .text-10 {
    font-size: 10px;
    line-height: 20px;
  }

  .text-15 {
    font-size: 12px;
    line-height: 20px;
  }

  .text-16 {
    font-size: 16px;
    line-height: 24px;
  }

  .text-18 {
    font-size: 18px;
    line-height: 26px;
  }

  .text-20 {
    font-size: 14px;
    line-height: 28px;
  }

  .text-22 {
    font-size: 14px;
    line-height: 28px;
  }

  .text-24 {
    font-size: 24px;
    line-height: 32px;
  }

  .text-26 {
    font-size: 26px;
    line-height: 36px;
  }

  .text-28 {
    font-size: 26px;
    line-height: 38px;
  }

  .text-30 {
    font-size: 30px;
    line-height: 42px;
  }

  .text-36 {
    font-size: 20px;
    line-height: 32px;
  }

  .text-40 {
    font-size: 20px;
    line-height: 28px;
  }

  .text-60 {
    font-size: 20px;
    line-height: 32px;
  }
}